/*!
 * Bootswatch v4.0.0
 * Homepage: https://bootswatch.com
 * Copyright 2012-2018 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*/
.body-img {
    background: url("https://images.pexels.com/photos/340779/pexels-photo-340779.jpeg") no-repeat center center fixed; 
    height: 100%;
    min-height: -webkit-fill-available;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    background-blend-mode: multiply;
    background-color: #A991D4;
}

.siel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5rem;
    position: center;
    top:50%;
    padding-top: 100px;
}

.lol {
    color: #eee;
    font-size: 5rem;
    font-weight: 300;
    text-transform: uppercase;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
