<footer class="main-footer">
                <!-- To the right -->
                <div class="float-right d-none d-sm-inline">
                    Made with <i class="fa fa-heart" style="color:red;"></i> by <?=$config['author'];?>
                </div>
                <!-- Default to the left -->
                <strong>Copyright &copy; <?=date('Y');?> <a href="<?=$config['host'];?>"><?=$config['name'];?></a>.</strong> All rights reserved.
            </footer>
