<!-- jQuery -->
        <script src="<?=$config['host_admin'];?>/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="<?=$config['host_admin'];?>/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="<?=$config['host_admin'];?>/dist/js/adminlte.min.js"></script>
        <!-- ChartJS -->
        <script src="<?=$config['host_admin'];?>/plugins/chart.js/Chart.min.js"></script>
        <!-- DataTables -->
	<script src="<?=$config['host_admin'];?>/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="<?=$config['host_admin'];?>/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
	<script src="<?=$config['host_admin'];?>/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
	<script src="<?=$config['host_admin'];?>/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
