<!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="<?=$config['host'];?>/assets/js/jquery-3.3.1.js"></script>
        <script src="<?=$config['host'];?>/assets/js/jquery.dataTables.min.js"></script>
        <script src="<?=$config['host'];?>/assets/js/dataTables.bootstrap4.min.js"></script>
        <script src="<?=$config['host'];?>/assets/js/popper.min.js"></script>
        <script src="<?=$config['host'];?>/assets/js/bootstrap.min.js"></script>
        <script src="<?=$config['host'];?>/assets/js/bootstrap4-toggle.min.js"></script>
        <script src="<?=$config['host'];?>/assets/js/pace.min.js"></script>
        <script src="<?=$config['host'];?>/assets/js/tagsinput.js"></script>
        <script src="<?=$config['host'];?>/assets/js/loadingoverlay.min.js"></script>
        <script src="<?=$config['host'];?>/main.js"></script>
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ad45616ed09e0f2"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('body').append('<div id="toTop" class="btn btn-primary btn-md"><span class="fa fa-chevron-up"></span> Back to Top</div>');
                $(window).scroll(function () {
                    if ($(this).scrollTop() != 0) {
                        $('#toTop').fadeIn();
                    } else {
                        $('#toTop').fadeOut();
                    }
                }); 
                $('#toTop').click(function(){
                    $("html, body").animate({ scrollTop: 0 }, 600);
                    return false;
                });
            });
        </script>
