<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
            <a class="navbar-brand" href="<?=$config['host'];?>"> <?=$config['name'];?></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="<?=$config['host'];?>"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<?=$config['host'];?>/project"><i class="fa fa-flask"></i> Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<?=$config['host'];?>/tools"><i class="fa fa-cogs"></i> Tools</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<?=$config['host'];?>/api"><i class="fa fa-random"></i> API Developer</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><i class="fa fa-list"></i> Page <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="themes">
                            <a class="dropdown-item" href="<?=$config['host'];?>/page/contact">Contact</a>
                            <a class="dropdown-item" href="<?=$config['host'];?>/page/terms">Terms of Services</a>
                            <a class="dropdown-item" href="<?=$config['host'];?>/page/privacy-policy">Privacy Policy</a>
                        </div>
                    </li>
                    <?php if($_SESSION['user_status']){ ?>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><i class="fa fa-user"></i> Account<span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="themes">
                            <a class="dropdown-item" href="<?=$config['host'];?>/account/dashboard">Dashboard</a>
                            <a class="dropdown-item" href="<?=$config['host'];?>/account/logout">Log out</a>
                        </div>
                    </li>
                    <?php } else { ?>
                    <li class="nav-item">
                        <a class="nav-link" href="<?=$config['host'];?>/account/auth"><i class="fas fa-sign-in-alt"></i> Log In </a>
                    </li>
                    <?php } ?>
                </ul>
            </div>
        </nav>
