<div class="form-group">
    <select name="Navigation-Select" id="Navigation-Select" class="form-control">
        <option value="">-- Navigation --</option>
        <optgroup label="Account">
            <option value="account/dashboard">Dashboard</option>
            <option value="account/setting">Edit Profile</option>
            <option value="account/setting">Change Password</option>
            <option value="account/logout">Logout</option>
        </optgroup>
        <optgroup label="API Developer">
            <option value="api">API Documentation</option>
            <option value="account/api-history">API History</option>
        </optgroup>
        <optgroup label="Instagram">
            <option value="account/instagram/manage-account">Manage Account</option>
        </optgroup>
        <optgroup label="The Links">
            <option value="account/the-links">Manage Website Links</option>
        </optgroup>
    </select>
</div>